@model List<Merchandise>
@{
    ViewData["Title"] = "Apparel";
}
@* I used this to help me try to make a three column foreach loop
https://stackoverflow.com/questions/55673123/how-we-can-divide-row-in-3-columns-in-foreach-loop
And I used this to help me display different images for each 
https://stackoverflow.com/questions/74160701/how-to-insert-different-images-in-asp-net-mvc-while-using-a-foreachloop-and-a-db
*@


<div class="text-center">
    <h1>Apparel</h1>
    <br />
</div>
<div class="container">
    <div class="row">
        @foreach (var m in @Model)
        {
            <div class="d-block mx-auto col-md-4 col-lg-3">
                <a asp-controller="Customer" asp-action="ViewItem" class="btn btn-primary" asp-route-id="@m.MerchId">
                    <img class="imgStyle" src="@Url.Content(m.ImagePath)" alt="@m.MerchName" />
                    <p>
                        @m.MerchName
                        <br />
                        $ @m.MerchPrice
                    </p>
                </a>
            </div>
        }
    </div>
</div>

<div class="navMenu">
    <nav id="menu">
        <ul>
            <li>
                <a asp-controller="Customer" asp-action="TShirtView">T-Shirts</a>
            </li>
            <hr />
            <li>
                <a asp-controller="Customer" asp-action="SweaterView">Sweaters</a>
            </li>
            <hr />
            <li>
                <a asp-controller="Customer" asp-action="HoodieView">Hoodies</a>
            </li>
            <hr />
            <li>
                <a asp-controller="Customer" asp-action="BeanieView">Beanies</a>
            </li>
            <hr />
            <li>
                <a asp-controller="Customer" asp-action="HatView">Hats</a>
            </li>
            <hr />
            <li>
                <a asp-controller="Customer" asp-action="OtherView">Other</a>
            </li>
        </ul>
    </nav>
</div>
